set username myuser
set password mypass
set server bbs.starbase21.net
set port 23
# Set heal_spel to "" if you do not have one.
set heal_spell abracadabra
# Set hurt_spell to "" if you do not have one.
set hurt_spell boom
set attacks_per_round 3
set self_heal_threshold 100
set temple_heal_threshold 70
set use_rowan 1
set use_hyssop 0
# For healtype...
# Acolyte: heal, Necrolyte: hurt, ymmv.  If you cast a spell on yourself to heal, type: heal
set healtype heal
# Do you want it to periodically attack the mino?
set attack_mino 1

set attack_griffon 0
set mino_interval 600
set griffon_interval 720
